
# yarn
.pnp.* 
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
 

# folders
node_modules
dist

# files
.dockerignore
Dockerfile*
.gitignore
.gitattributes
.nvmrc
README.md
.vscode
.env